version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_docker
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password_2024
      MYSQL_DATABASE: mydb
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_docker
    restart: always
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root_password_2024
    ports:
      - "8088:80"
    depends_on:
      - mysql

volumes:
  db_data:
